<style>
	#games-list {
		display: grid;
	}
	@media (min-width: 40em) {
		#games-list {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (min-width: 60em) {
		#games-list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	@media (min-width: 80em) {
		#games-list {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	@media (min-width: 100em) {
		#games-list {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	.game-entry {
		margin: 0.5em;
		transition: all 150ms ease-in-out;
	}
	.game-entry:hover {
		transform: scale(1.05);
	}
	.game-entry .card-image {
		padding: 0.5em;
	}
</style>

<div id="games-list">
	{% for game in games %}
	<div class="card game-entry">
		<a class="card-image" href="{% url 'game' game.pk game.title|slugify %}">
			<figure class="image is-square">
				<img src="{{ game.cover_image.url }}" alt="Placeholder image">
			</figure>
		</a>
		<div class="card-content">
			<div class="media">
				<div class="media-content">
					<a class="title is-4" href="{% url 'game' game.pk game.title|slugify %}">{{ game.title }}</a>
					<br>
					<a class="subtitle is-6" href="{% url 'user' game.author.username %}">@{{ game.author.username }}</a>
				</div>
			</div>
		</div>
		<!--
		<footer class="card-footer">
			<div class="card-footer-item">
				<span class="icon"><i onclick="vote('up')" class="icon-thumbs-up"></i></span>
				{{ game.count_upvotes }}
			</div>
			<div class="card-footer-item">
				<span class="icon"><i onclick="vote('down')" class="icon-thumbs-down"></i></span>
				{{ game.count_downvotes }}
			</div>
			{% if user == game.author %}
				<a href="#" class="card-footer-item">Edit</a>
			{% endif %}
		</footer>
		-->
	</div>
	{% endfor %}
</div>
