{% extends "games/base.html" %}
{% block content %}

<style>
#layout-container {
	display: flex;
	flex-direction: column;
}
@media (min-width: 1200px) {
	#layout-container {
		flex-direction: row;
	}
}
#game-meta {
	min-width: 30em;
}
#iframe {
	flex-grow: 2;
	width: 100%;
	height: 300px;
}
</style>

<div id="layout-container">
	<iframe id="iframe" src="{{ game.external_url }}"></iframe>
	<div id="game-meta" class="box">
		<div class="title is-4">{{ game.title }}</div>
		<div class="subtitle is-6">
			Made by
			<a href="{% url 'user' game.author.username %}">
				{% if game.author.first_name %}
				{{ game.author.first_name }} {{ game.author.last_name }}
				{% else %}
					@{{ game.author.username }}
				{% endif %}
			</a>

			<br>

			Uploaded on {{ game.upload_date }}

			{% if game.source_code_url %}
				<br>
				<span class="icon-github"></span>
				<a href="{{ game.source_code_url }}>{{ game.source_code_url }}</a>
			{% endif %}
		</div>

		Review:
		<span onclick="vote(voteUp)" class="icon-thumbs-up"></span>
		<span onclick="vote(voteDown)" class="icon-thumbs-down"></span>
		<br>

		Description:
	</div>
</div>

<script>
	const voteUp = "{% url 'vote' game.pk 'up' %}";
	const voteDown = "{% url 'vote' game.pk 'down' %}";
	const vote = url => {
		fetch(url);
	};
</script>

{% endblock %}
