{% extends "games/base.html" %}
{% load static %}

{% block content %}

<style>
    #form-parent {
        max-width: 50em;
    }
</style>

<div class="columns is-centered">
    <div class="column" id="form-parent">
        <form action="{% url 'upload' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}

            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input"
                    type="text" required
                    maxlength="{{ form.title.field.max_length }}"
                    name="{{ form.title.html_name }}"
                    placeholder="My first game"\>
                </div>
            </div>

            <br>

            <div class="field">
                <label class="label">URL of the game</label>
                Your game is not already on the internet? Use <a href="https://bin.gamejs.online">bit.do/jsigra</a> to upload it in no time!
                <div class="control">
                    <input class="input"
                    type="url" required
                    maxlength="{{ form.external_url.field.max_length }}"
                    name="{{ form.external_url.html_name }}"
                    placeholder="https://"\>
                </div>
            </div>

            <br>

            <div class="field">
                <label class="label">Cover image</label>
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input"
                        id='cover-image-input'
                        type="file" required accept="image/*"
                        name="{{ form.cover_image.html_name }}" \>
                        <span class="file-cta">
                            <span class="file-label">
                                Choose a cover image…
                            </span>
                        </span>

                        <span class="file-name" id='filename'>No image selected</span>
                    </label>
                </div>
            </div>

            <br>

            <button class="button is-primary" id="submit" type="submit">Upload</button>
        </form>
    </div>
</div>

<script src="{% static 'games/WangYuLue_conversion.js' %}"></script>
<script>
	const coverImageInput = document.getElementById('cover-image-input');
	coverImageInput.oninput = ev => {
		document.getElementById('submit').classList.add('is-loading');

		const origFile = coverImageInput.files[0];
		imageConversion.compressAccurately(coverImageInput.files[0], 25)
		.then(blob => {
			// https://stackoverflow.com/questions/21892890/is-it-possible-to-replace-a-file-input-with-a-blob

			const newFile = new File([blob], origFile.name, {
				type: origFile.type,
				lastModified: origFile.lastModified
			});

			// attach the file to the form
			const container = new DataTransfer();
			container.items.add(newFile);
			coverImageInput.files = container.files;

			console.log(`Compressed original from ${origFile.size} to ${blob.size} bytes - ${blob.size / origFile.size * 100}%`);

			document.getElementById('filename').innerText = newFile.name;
		})
		.catch(err => {
			console.log("error during compression:", err);
			coverImageInput.value = '';
		})
		.finally(() => {
			document.getElementById('submit').classList.remove('is-loading');
		})
	};
</script>

{% endblock %}
